@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --color-black-1: #161618ff;
  --color-yellow-1: #C49551;
}

html {
  scroll-behavior: smooth;
}

.big-icon {
  font-size: 2rem !important;
}

.icon-responsive {
  font-size: 3rem !important;
}
@media (min-width: 1280px) {
  .icon-responsive {
    font-size: 6rem !important;
  }
}
@media (min-width: 1536px) {
  .icon-responsive {
    font-size: 8rem !important;
  }
}

.font-sans {
  font-family: 'Inter', sans-serif;
}

.font-cygre {
  font-family: 'Cygre';
  src: url('/fonts/Cygre-Bold.ttf') format('truetype');
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.custom-shadow {
  box-shadow: 0 4px 0 0 #C4955140;
}